<head>

	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>{{ site.title }}</title>
<meta name="description" content="{{ site.title }}" />
<meta name="keywords" content="Amnesty, amnesty, Amnesty International, Freedom festival, freedom festival, freedom, festival, festivals, music, acoustic music, plopnicks, sugardrum, martha tilston, semble, wupadupa, weston green" />
<meta name="robots" content="index, follow" />
<link rel="stylesheet" href="/css/festy_styles-2008.css" type="text/css" media="screen" charset="utf-8" />
<script src="javascript/image_preload.js" type="text/javascript"></script>	
</head>